.loadingScreen {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
  z-index: 10000;

  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  opacity: 1;
}
.loadingScreen.ng-hide {
  opacity: 0;
}
