<div ng-controller="Tab1Controller as tabCtrl">
  <h1>tab1</h1>
  <button type="button" class="btn btn-default"
          ng-click="tabCtrl.open()">Open modal</button>
  <p>Modal result = {{ tabCtrl.modalResult }}</p>
  <div>
    <button type="button" class="btn btn-default"
            on-long-press="tabCtrl.onLongPress('default')"
            >Long press (default)</button>
    <button type="button" class="btn btn-default"
            on-long-press="tabCtrl.onLongPress('500ms')"
            long-press-timeout="500">Long press (500ms)</button>
  </div>
  <div>
    <button type="button" class="btn btn-default"
            ng-click="tabCtrl.startLoading(2000)"
            >Start loading (2000ms)</button>
  </div>
  <div>
    <button type="button" class="btn btn-default"
            on-long-press
            editable="tabCtrl.editText"
            editable-on="longpress"></button>
  </div>
</div>
