<div ng-controller="Tab2Controller as tab">
  <h1>tab2</h1>
  <div ng-repeat="item in tab.items track by item.id">
    <button type="button"
            style="width: 2em"
            class="btn btn-xs btn-default"
            ng-click="tab.moveUp($index)">
      <span class="glyphicon glyphicon-arrow-up"></span>
    </button>
    <button type="button"
            style="width: 2em"
            class="btn btn-xs btn-default"
            ng-click="tab.moveDown($index)">
      <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
    <button type="button"
            style="width: calc(100% - 5em)"
            class="btn btn-xs btn-default"
            ng-click="item.isCollapsed = !item.isCollapsed">
      <span class="glyphicon"
            ng-class="{'glyphicon-chevron-up': !item.isCollapsed,
                      'glyphicon-chevron-down': item.isCollapsed}"></span>
    </button>
    <div uib-collapse="item.isCollapsed">
      <div class="well well-lg">
        <strong ng-style="{{item.style}}">{{item.content}}</strong>
      </div>
    </div>
  </div>
</div>
